################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThinkBridge/v17/TestStore/0/000.testlog
